/* סגנון עמוד כללי */
#login-page {
    font-family: 'Arial', sans-serif;
    background-image:url('/public/pictures/רקע_6.jpg');
    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    width: 300px;
}

#login-title {
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.login-input {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: rgb(155, 149, 149);
    font-size: 16px;
}

#login-button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: white;
    color: #6c63ff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-button:hover {
    background-color: #d1caff;
}
